.text-area{
	text-align:center;
  font-size:35px;
}
.keys {
  display: flex;
  flex: 1;
  min-height: 0.5vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .3rem solid black;
  border-radius: .4rem;
  margin: 1rem;
  font-size: 1.2rem;
  padding: .5rem .4rem;
  transition: all .07s ease;
  width: 8rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}
.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 .8rem #ffc600;
}

kbd {
  display: block;
  /*font-size: 4rem;*/
}
#text-view2{
  background:#ffff00;
}